* {
  margin: 0;
  padding: 0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

.clear { clear: both; }

html {
  color: 000;
  background: #fff;
}

html, body {
  height: 100%;
}

body {
  text-align: center;
  background-color: #fff;
  font: 13.34px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 5.8em;
/*  */
}

h1 a {
  color: #000;
}

h1 a:hover {
  background-color: #fff;
  color: #333;
}

a {
  padding: 0.1em 0.2em;
  color: #333;
  text-decoration: none;
}

a:hover {
/*  background-color: #405156;*/
  background-color: #333;
  color: #fff;
}

li { list-style: none; }

#wrapper {
  width: 950px;
  position: static;
  text-align: left;
  margin: auto;
  padding: 0 1em 1em 1em;
}

#header { 
}

#middle {
}

#left {
  width: 712px;
  float: left;
}

#right {
  width: 230px;
  float: right;
}

#nav li {
  margin: 5px 10px;
  font-size: 1.8em;
}

#footer {
  margin-top: 5px;
}

#footer a, .content a {
  padding: 0;
  text-decoration: underline;
}

.content p, .content li, #left p { font-size: 1.3em; }

.content h1, h2, h3 {
  margin-bottom: 0.3em;
}

.content h1 {
  font-size: 2.9em;
}

.content h2, #left h2 {
  font-size: 2.2em;
}

.content h3 {
  font-size: 1.8em;
}

.content p, #left p {
  margin-bottom: 1.3em;
  line-height: 1.3em;
}

.post .permalink {
  font-size: .6em;
}

.post hr {
  margin-top: 1em;
  margin-bottom: 2em;
}

.post blockquote {
  display: block;
  color: #383838;
  font-style: italic;
  border-left: 3px solid rgb(230,229,221);
  margin: 1em 2em;
  padding-left: 1em;
}

.gist {
  margin-bottom: 1.3em;
  font-size: 1em;
}