* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

html {
}

html, body, #wrap { height: 100%; }

body > #wrap { height: auto; min-height: 100%; }

@font-face { font-family: "Bitstream Vera Serif"; src: url("VeraSe.ttf"); }

@font-face { font-family: "Bitstream Vera Sans Mono"; src: url("VeraMono.ttf"); }

@font-face { font-family: AvantGarde; src: url("avgardn.ttf"); }

body {
  height: 100%;
  font: 12px "Bitstream Vera Serif", Georgia, serif;
  height: 100%;
  background-color: #3d3636;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 220px;
  background-color: #333033;
  bottom-border: 1px solid black;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  z-index: 10;
  position: relative;
}

h1 {
  padding: 12px 0;
  color: #e8cb83;
  font-size: 5em;
  font-family: "AvantGarde", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 140px;
}

#header a {
  color: #A8978A;
}

#header a:hover {
  text-decoration: none;
}

.name-text-shadow {
  text-shadow: 2px 2px 0px #121212;
}

.firstname {
  color: #A1A09E;
}

.lastname {
  color: #90756B;
}

a {
  color: #505c50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#middle {
  margin: 20px 0;
  overflow:auto;
  padding-bottom: 120px; /* must be same height as footer */
}

#nav ul {
  list-style-type: none;
  width: 220px;
}

#nav li {
  color: #40160c;
  font-size: 2em;
  font-family: "AvantGarde", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff6b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border: 3px solid #abcca7; */
  margin: 6px 0;
  padding: 6px;
  text-align: right;
  list-style-type: none;
}

#nav li a {
  display: block;
}

#nav li a:hover {
  background-color: #ffefa7
}

.post {
  /* background-color: #fff6b8; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border: 3px solid #abcca7; */
  color: #1f1f15;
  margin: 6px 0;
}

.post .heading {
  font-family: "AvantGarde", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #302d30;
  background-color: #fff6b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 5px
}

.post .heading h2 {
  font-size: 2.2em;
}

.post .content {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #3d4955;
  background-color: white;
  padding: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post .content pre {
  background-color: rgb(248, 248, 255);
  border: 1px solid rgb(222,222,222);
  padding: 3px 6px;
}

.post .content pre code {
  font-size: 12px;
}

.post .content code, .post .content pre {
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
  line-height: 1.4em;
}

.post .content blockquote {
  margin: 1em 25px;
  padding-left: 1em;
  border-left: 4px solid rgb(230, 229, 221);
}

.post .content p {
  margin: 13px 0;
}

.post .content a {
  text-decoration: underline;
}

.post .content a:hover {
  background-color: #505c50;
  color: white;
}

.post .content .archive {
  list-style-type: none;
}

.content h2 {
  font-family: "AvantGarde", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

.gist {
  margin-bottom: 1.3em;
  font-size: 12px;
}

#social {
  font-size: 1.3em;
  text-align: right;
}

#social li {
  margin: 3px 5px;
}

#social .social-link {

}

#footer {
  position: relative
  clear: both;
  background-color: #333033;
  width: 100%;
  height: 120px;
  margin-top: -120px;
  padding: 20px 0;
  font-size: 1.3em;
  font-family: "AvantGarde", "Lucida Grande", Helvetica, Arial, sans-serif;
  -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.35);
  z-index: 10;
}

/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.row .row {
  margin: 0 -10px;
  width: auto;
  display: inline-block;
}

/* color scheme */
/* #302d30 (background) */
/* #333033 (lighter background) */
/* #3d3636 (lighter lighter background) */
/* #3d4955 (text) */
/* #505c50 (link) */
/* #e8cb83 (sidebar) */
/* #ffefa7 (sidebr border) */
