* {
  margin: 0;
  padding: 0;
}

html {
}

html, body {
  height: 100%;
}

#custom-doc { width: 950px; }

body {
  background-color: #FFF;
  font: 13.34px 'Helvetica Neue', Helvetica, Arial, sans-serif
  *font-size: small;*/
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 5.8em;
  color: #405156;
}

a {
  padding: 0.1em 0.2em;
  color: #333;
  text-decoration: none;
}

a:hover {
  background-color: #405156;
  color: #fff;
}

#nav li {
  margin: 5px 10px;
  font-size: 1.8em;
}

#ft {
  margin-top: 5px;
}

#ft a, .wrapper a {
  padding: 0;
  text-decoration: underline;
}

.wrapper h1, h2, h3 {
  margin-bottom: 0.3em;
}

.wrapper h1 {
  font-size: 2.9em;
}

.wrapper h2 {
  font-size: 2.2em;
}

.wrapper h3 {
  font-size: 1.8em;
}

.wrapper p {
  margin-bottom: 1.3em;
  line-height: 1.3em;
}

.post .permalink {
  font-size: .6em;
}

.post hr {
  margin-top: 1em;
  margin-bottom: 2em;
}

.post .content p {
    font-size: 1.3em;
}

.post blockquote {
  display: block;
  color: #383838;
  font-style: italic;
  border-left: 3px solid rgb(230,229,221);
  margin: 1em 2em;
  padding-left: 1em;
}