<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Andrew Sardone &mdash; {{ page.title }}</title>
	<meta name="author" content="Andrew Sardone"/>
	<meta content="The home of Andrew Sardone" name="description" />
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">  -->
	<link rel="stylesheet" href="/css/screen-yahoo.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"/>
	<link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
</head>
<body>

<div id="custom-doc" class="yui-t4"> 
	<div id="hd" role="banner">
		<h1><a href="/">Andrew Sardone</a></h1>
	</div> 
	<div id="bd" role="main"> 
		<div id="yui-main"> 
			<div class="yui-b wrapper">
			  {{ content }} 
			</div> 
		</div> 
		<div class="yui-b">
		  <ul id="nav">
		    <li><a href="/about.html">About</a></li>
		    <li><a href="">Archive</a></li>
		    <li>&mdash;</li>
		    <li><a href="http://twitter.com/andrewa2">twitter</a></li>
		    <li><a href="http://andrewsardone.tumblr.com">tumblr</a></li>
  		  <li><a href="http://github.com/andrewsardone">github</a></li>
        <li><a href="http://flickr.com/photos/andrewsardone">flickr</a></li>
        <li><a href="http://last.fm/user/andrewsardone">last.fm</a></li>
        <li><a href="http://www.linkedin.com/in/sardone">linkedin</a></li>
        <li><a href="http://osx.iusethis.com/user/andrew">iusethis</a></li>
      </ul>
		</div>  
	</div> 
	<div id="ft" role="contentinfo">
	  &mdash;<br/>
	  All original content, unless otherwise noted, is licensed under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 United States License</a>.
	</div> 
</div>
 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
 
</body>
</html>